.hyperobject-frame {
    .model-bounds {
        fill: transparent;
        pointer-events: none;
        stroke: rgba(0,0,0,0.4);
    }
    .grid-line {
        stroke: rgba(0,0,0,0.2);
    }
    
    .guides-svg {
        position: absolute;
        pointer-events: none;
        z-index: -10;
    }
    .grid-lines {
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        text {
            pointer-events: none;
            user-select: none;
            -webkit-user-select: none;
        }
    }
}
