.model-bounds {
    fill: transparent;
    pointer-events: none;
    stroke: rgba(0,0,0,0.4);
    stroke-width: 2px;
}
.grid-line {
    stroke-width: 1px;
    stroke: rgba(0,0,0,0.2);
}

.guides-svg {
    position: absolute;
    pointer-events: none;
    z-index: -10;
}