.hyperobject-frame {
    .model-bounds {
        fill: transparent;
        pointer-events: none;
    }
    
    .guides-svg {
        position: absolute;
        pointer-events: none;
        z-index: 2;
    }
    .grid-lines {
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        text {
            pointer-events: none;
            user-select: none;
            -webkit-user-select: none;
        }
    }
}
