.frame-controls {
  position: relative;
}

.frame-controls button {
  position: relative;
  border: 0px solid transparent;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  width: 50px;
}

.frame-controls button .tooltip {
  position: absolute;
  top: -4px;
  left: 50px;
  opacity: 0;
  text-align: left;
  z-index: 2;
  transition: left 0.15s, opacity 0.15s;
}

.frame-controls button:hover {
  background: #def0f1;
  webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.14);
}

.frame-controls button:hover .tooltip {
  opacity: 1;
  left: 55px;

}

.frame-controls .render-settings {
  position: absolute;
  z-index: 3;
  top: 49px;
  left: 55px;
  padding: 10px;
  background: #def0f1;
  border-radius: 2px;
  webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.14);
}
.frame-controls .render-settings .label {
  padding: 0px;
  margin: 0px;
}

.frame-controls .render-settings input {
  background: white;
  padding: 3px;
  font-weight: 600;
  border: 0px solid transparent;
}
