.vector-export-menu {
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    .menu-toggle {
        position: absolute;
        right: 10px;
        bottom: 15px;
        pointer-events: initial;
    }
    .ui.card {
        position: absolute;
        right: 15px;
        bottom: 60px;
        pointer-events: initial;
    }
}