h1, h2, h3, h4, h5, h6, p, li, ul, a, span, strong, button, button.ui.button {
    font-family: Europa;
  }
  .app {
    font-family: Europa;
  }

.app {
    padding: 20px;
    .page-content {
        margin-top: 30px;
    }
}