.hyperobject-frame {
  transition: background 0.5s, opacity 0.5s;
  position: relative;
  svg {
    transition: top 0.5s;
    overflow: visible;
    text {
      -webkit-user-select: none;
      user-select: none;
      font-family: 'Europa';
    }
  }
  &.focussed {
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 1;
    background: rgba(20,20,50,1);
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  .display-geometries {
    pointer-events: none;
  }
  .point {
    &.clickable {
      cursor: pointer;
    }
    &.editable {
      cursor: move;
      &:hover {
        opacity: 0.7;
      }
    }
    &.selected {
      fill: rgba(20,20,50, 1) !important;
      fill-opacity: 1;
    }
  }



  .focussed-text {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    color: white;
    padding: 20px;
    text-align: center;
  }

  .disable-focussed {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    text-align: center;
    background: rgba(255,255,255, 0.2);
    border-radius: 5px;
    color: white;
    padding: 5px;
  }

  .test-display-point {
    fill: rgba(200,200,255,0.8);
    stroke-width: 0px;
  }


  .control-point {
    cursor: move;
  }

  .canvas-3d-view {
    user-select: none;
    -webkit-user-select: none;
  }

  canvas:focus {
    outline: none;
  }

  .procedure-errors-box {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }

  .procedure-errors-box .procedure-error {
    color: red;
  }

  .svg-export text {
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Europa';
  }


  .select-box {
    pointer-events: none;
    user-select: none;
    fill: transparent;
    stroke: grey;
    stroke-width: 1px;
    stroke-dasharray: 5 5;
  }
}
